.navbar{
    background-color: royalblue;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 0px 0px grey;
    position: sticky;
    width: 100%;
    padding: 0 20%;
}

.toggle{
    display: none;
    margin-left: 20px;
    color: white;
}

.navbar-left{
    display: flex;
}

.navbar-right{
    display: flex;
}

@media only screen and (max-width: 700px){
    .toggle{
        display: block;
        z-index: 2;
    }
    .navbar-left{
        display: none;
    }
    .navbar{
        padding: 0;
    }

    .navbar-right{
        margin-right: 20px;
    }
    .navbar-dropdown{
        z-index: 0;
        position: relative;
        height: auto;
        padding: 0;
        width: 100%;
        background-color: transparent;
        transform: translateX(0);
    }
    .navbar-dropdown.open{
        box-shadow: none;
        width: 100%;
    }
}

.navbar-dropdown{
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    overflow: hidden;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    padding: 60px 30px 0 0px;
    transform: translateY(-100%);
    justify-content: right;
    right: 0;
    top: 0;
}

.navbar-dropdown a{
    color: white;
    font-weight: bold;
    width: 100%;
    margin-left: 30px;
}

.navbar-dropdown.open{
    transform: translateY(0);
    opacity: 0.95;
    box-shadow: rgb(120, 120, 120) 0px 0px 32px;}

.navbar-dropdown a{
    padding: 0.7rem;
    display: flex;
    align-items: center;
}

.navbar-left a{
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
    color: rgba(255, 255, 255, 80%);
}

.navbar a:hover{
    color: white;
}

.flag{
    background: transparent;
    border: none;
    cursor: pointer;
}
