.navbar{
    background-color: royalblue;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 2px 0px 0px grey;
    position: fixed;
    width: 100%;
}

.navbar a{
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
    color: rgba(255, 255, 255, 80%);;
}

.navbar a:hover{
    color: white
}

.navbar-left{
    display: flex;
}

.navbar-right{
    display: flex;
}

.flag{
    background: transparent;
    border: none;
    cursor: pointer;
}